@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'ClashDisplay-Bold';
		src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
			url('../fonts/ClashDisplay-Bold.woff') format('woff'),
			url('../fonts/ClashDisplay-Bold.ttf') format('truetype');
		font-weight: 700;
		font-display: swap;
		font-style: normal;
	}
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('../fonts/clash/ClashDisplay-Extralight.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('../fonts/clash/ClashDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('../fonts/clash/ClashDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('../fonts/clash/ClashDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('../fonts/clash/ClashDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'ClashDisplay';
	src: url('../fonts/clash/ClashDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	position: relative;
}

.navlinks a::before {
	content: '';
	border-bottom: 2px solid #000;
	height: 1px;
	width: 100%;
}

.navlinks a::after {
	content: '';
	background: black;
	mix-blend-mode: exclusion;
	width: calc(100% + 20px);
	height: 0;
	position: absolute;
	bottom: -4px;
	left: -10px;
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navlinks a:hover::after {
	height: calc(100% + 8px);
}

.project-heading:hover span {
	width: 80%;
}

/* before:border-b-2 before:border-solid before:border-b-yellow-300 before:w-full before:h-1 */
